name: Keep Streamlit Awake

on:
  schedule:
    - cron: "*/5 * * * *"  # every 5 minutes

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Curl Streamlit App
        run: curl -s ttps://weight-and-balance.streamlit.app/ > /dev/null
